<div class="col-12 col-md-3 col-xl-2" style="padding-left: 0;">
  <nav class="bd-links">
    <div class="menu-link">
      <%= link_to "Home", root_path %>
    </div>
    <div class="menu-link">
      <%= link_to "My Orders", orders_path %>
    </div>
    <div class="menu-link">
      <%= link_to "Create Order", new_order_path %>
    </div>
  </nav>
</div>
