<%= image_tag attachments['logo.png'].url, alt: 'Our Photo', class: 'photo', height: "50px" %>
<p>Hi <%= @order.first_name %>,</p>
<p>Thank you for the order this is the email that includes your FedEx pre-paid label. We recommend packaging the item securely, print the return label and drop off the item at a FedEx service area in person with requesting a receipt. Please visit <%= link_to "Fedex Locations", "https://www.fedex.com/locate/index.html?locale=en_US#", target: "_blank" %> to find your nearest location. If you have any questions please email us back. </p>

<p>Thank you,</p>

<p>Funai Team</p>

<p style="padding-top: 75px; margin: 0; background-color: white; text-align: center;">
      Funai Service Corporation
      2425 Speigel Dr.
      Groveport, OH 43125
</p>
