<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mailling Address</title>
  <style>
    li {
      list-style-type: none;
    }
  </style>
</head>
<body>
  <%= image_tag attachments['logo.png'].url, alt: 'Our Photo', class: 'photo', height: "65px" %>
  <p>Thank you for the order you have requested to ship the product to us.<br>
      We ask to make sure the product is packed securely and document any additional details that you think our tech may need to know.
  </p>
  <p><strong>
      <ul>
        <li>Funai Service Corporation</li>
        <li>CO Nancy Hart DVD OOW</li>
        <li>2425 Speigel Dr.</li>
        <li>Groveport, OH 43125</li>
        <li>614-654-6000 Ext 112</li>
      </ul>
      </strong><br></p>
      <p>If you change your mind and would like a pre-paid shipping label or box and packing just let us know.</p>
  <p style="padding-top: 75px; margin: 0; background-color: white; text-align: center;">
      Funai Service Corporation
      2425 Speigel Dr.
      Groveport, OH 43125
  </p>
</body>
</html>
