Thank you for the order you have requested to ship the product to us.
We ask to make sure the product is packed securely and document any additional details that you think our tech may need to know.

Funai Service Corporation
CO Nancy Hart DVD OOW
2425 Speigel Dr.
Groveport, OH 43125
614-654-6000 Ext 112

If you change your mind and would like a pre-paid shipping label or box and packing just let us know.</p>
