#btnGroupDrop1 {
  background-color: #418bd6;
  border-color: aliceblue;
  margin: 2px 47px;
}
.login-submit-button {
  width: 100%;
  color: #FCFCFC;
}

.list-group-item{
  background-color: #D4F3FC;
  font-size: 0.8rem;
  font-weight: 400;
}
