.fa-envelope-open-text {
  font-size: 24px;
}

.fa-phone {
  font-size: 24px;
}

.fa-clipboard-check {
  font-size: 24px;
}

.fa-calendar-alt {
  font-size: 24px;
}

.fa-user-secret {
  font-size: 24px;
}

.fa-box {
  font-size: 24px;
}

.fa-file-alt {
  font-size: 24px;
}

.fa-user-alt {
  background-color: yellow;
  font-size: 24px;
}

.fa-trash {
  color: #F7B11B;
  font-size: 16px;
  @include float-right;
}

