.orderform-view {
  background: lightgray;
  padding: 24px 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin: 6px 6px;
  color: #504440;

}
abbr[title]{
  color: red;
}
.col {
  flex-grow: 0.83;
}
.show-page-order {
  background: lightgray;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin: 8px 100px;
  color: #504440;
}

.button-holder-left {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.button-holder-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.button-holder-middle {
  position: absolute;
  bottom: 16px;
  right: 110px;
}

#receive_filter {
  display: none;
}

#receive_info{
  display: none;
}

li {
  list-style-type: none;
}

.order-details {
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  padding-bottom: 12px;
  margin: 20px 27px;
  h4 {
    text-align: center;
    padding-top: 12px;
  }
}

