<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @repair.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag("https://res.cloudinary.com/dfr1rmbqg/image/upload/v1550725358/johgiaf2hoekogq1hjqb.jpg", width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Repair charge.</p>
      <p>Amount: <%= humanized_money_with_symbol(@repair.price) %></p>
    </div>
  </div>
</div>
